
*{
  box-sizing: border-box;
  margin: 0;
  z-index: 0;
}

/* Class Utility */


.bg-green{
  background-color: green;
  
}

.bg-red{
  background-color: #ff003c;
}

.disp-inline-bl {
  display: inline-block;
}

.pos-rel{
  position: relative;
}

.pos-abb{
  position: absolute;
  top: 0;
}

header, footer {
  width: 80vw;
  margin: auto;
  text-align: center;
  font-size: 1.6em;
  padding: 10px;
  color: #00de64;
  text-shadow: 1px 1px rgb(99, 95, 95);
}

.title h1::after{
  content: "- Shop ";
  color: #eb0037;
}

.product{
  cursor: pointer;
  transition:0.3s;
  transition-timing-function:ease-out;
}

.product:hover{
  scale: 1.02;
  margin: 5px;
}

img{
  z-index: 0;
  box-shadow: 1px 1px 2px gray;
  border-radius: 10px;
}

.row {
  text-align: center;
  margin-top: 5px;
}

.discount{
  padding: 0px 5px;
  border-radius: 5px;
  z-index: 1;
  right: 0;
  font-size: 1.2em;
  text-shadow: 1px 1px 1px rgb(150, 145, 145);
  line-height: 1.3em;
  color: white;
  border:1px solid rgb(194, 194, 194);
  transition:0.3s;
  transition-timing-function:ease-out;
}

.discount:hover{
  scale: 1.05;
}

.discount::after{
  content: " \0025";
}

.discount::before {
  content: "\2212 ";
}


.add-cart::after{
  content: "\2764";
  font-size: 1.8em;
  text-shadow: 1px 1px 2px black;
}

.add-cart{
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  line-height: 2.6rem;
  background: #ffffff;
  border-radius: 50%;
  color: rgb(112, 110, 110);
  box-shadow: 3px -2px 3px rgb(128, 58, 0);
  transition:0.2s;
  transition-timing-function:ease-out;
  bottom: 50px;
  visibility: hidden;
  margin: auto;
}

div.product.box:hover .add-cart {
  visibility: visible;5
}

.add-cart:hover{
  color: #eb0037;
  box-shadow: 3px -2px 3px green;
  scale: 1.1;
}


footer{
  width: 80vw;
  margin: auto;
  text-align: center;
  font-size: 1.6em;
}

.made::before{  
  content: "\261B";
  color: #eb0037;
}

.made::after {
  content: " \2714 Boolean Careers";
  color: #00de64;
  text-shadow:  1px 1px rgb(99, 95, 95);
}